body {
    font-size: 100%;
    height: 100%;
    width: 100%;
}

.ng-scope {
  height: 100%
}

.new-room-button {
    background-color: white;
    color: black;
    border: 6px solid #4CAF50;
    border-radius: 6px;
    padding: 1%;
    font-size: 16px;
    float: right;
    margin: 8%;
}

.new-room-button:hover {
    cursor: pointer;
}

.header {
  padding-left: 5%;
  font-weight: 450;
  font: Helvetica;
  color: #ECF0F1;
}

.rooms {
    background-color: rgba(44, 62, 80, 0.85);
    display: inline-block;
    font-weight: 300;
    width: 30%;
    top: 0px;
    left: 0px;
    height: 100%;
    text-align: left;
    padding-left: 2px;
    float: left;
}

.room-names {
  color: #D0D0D0;
  font: Helvetica;
  font-weight: 400;
  padding: 2% 0 2% 5%;
}

.room-names:hover {
    cursor: pointer;
}

.chatroom {
  display: inline-block;
  position: fixed;
  border: 1px;
  width: 80%;
  height: 90%;
  background-color: #caecf6;
  overflow: scroll;
}

.current-room {
  padding-left: 10px;
  padding-bottom: 20px;
  padding-top: 5px;
  color: #2c3e50;
}

.messages {
  font: Helvetica;
  color: #2c3e50;
  padding-left: 10px;
  width: 80%;
}

.messages .username {
  font: Helvetica;
  font-size: 14px;
  font-weight: bold;
}

.messages .timestamp {
  font-style: italic;
  font: Helvetica;
  font-size: 12px;
  float: right;
  color: #7f8c8d;
}

.messages .user-message {
  display: inline-block;
  padding-left: 2px;
  font: Helvetica;
}

.new-message {
  height: 10%;
  width: 90%;
  position: fixed;
  margin-left: 5px;
  bottom: -10px;
  z-index: 1;
  font: Helvetica;
}

.message-input {
  width: 70%;
  height: auto;
  font: Helvetica;
}
