<body>
  <section ng-controller="HomeCtrl as home">
    <section class = "rooms">
      <header>
        <h1 class = "header">
        <img src = "assets/bloc_logo.png" style = "width:175px">
        </h1>
      </header>
        <span class ="new-room-button" type = "button" ng-click = "home.addRoom()"> + New Room </span>
    <div class = "room-names">
        <div class = "indiv-room" ng-click = "home.setCurrentRoom(room)" ng-repeat = "room in home.rooms track by $index"> {{room.name}} </div>
    </div>
  </section>
  <section class="chatroom">
      <h3 class="current-room"> {{home.currentRoom.name}} </h3>
      <table class = "messages">
        <tr ng-repeat = "message in home.messages">
          <td class= "username"> {{message.username}} </td>
          <td id = "timestamp" class = "username"> {{message.sentAt}} </td>
          <td class= "user-message"> {{message.content}} </td>
        </tr>
      </table>
    <div class="new-message">
      <form class = "message-field" ng-submit="home.sendMessage()">
        <input type="text" class="message-input" placeholder="Message..." ng-model="home.message">
        <input type="submit" class="button-sendmessage" value="Send">
      </form>
    </div>
  </section>
</body>
